:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: var(--Dark-cyan);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: right 51vw bottom 14vh,left 48vw top 54vh;
}

.container{
    margin-right: 20px;
    margin-left: 20px;
    width:90%;
    border-radius: 15px;
    background-color: white;
    margin-top: 50px;
    position: relative;
}
.bg-img{
    width: 338px;
    margin-bottom: 50px;
}
.bg-img img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.profil-img{
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.profil-img img{
    width: 100%;
    border-radius:50% !important;
    border: 5px solid white;
}
.text{
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 30px;
}
.text h2{
    margin-bottom: 9px;
}
.text span{
    padding-left: 16px;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    font-size: 23px;
}
.reaction{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.followers{
    margin-bottom: 20px;
}
.followers h3{
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 10px;
}
.followers span{
    color: var(--Dark-grayish-blue);
}
@media(min-width:600px){
    .container{
        width:350px;
        top:50%;
        left: 50%;
        transform: translate(-50%,0%);
    }
    .bg-img{
        width:350px;
    }
}